# APP-REACT
# =========

# dependencies
/app/node_modules
/.pnp
/app/.pnp.js

# testing
/app/coverage

# production
/app/build

# misc
/app/.DS_Store
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

# API-GOLANG/GIN
/api/go.sum
/api/logs/
# /api/.env # For now it doesn't contain anything sensitive.
